#fData {
  font-size: 9px !important;
  padding-top: 20px;
}

.logoBar {
  background-image: linear-gradient(to right, green, rgb(2, 82, 2));
}

.logoText {
  text-shadow: 1px 1px 1px black;
}

/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b9b9b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
